<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
      <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>
  <nav class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">FunDB</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                  <li class="active"><a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                    </a></li>
                  <li><a href="/movies">
                    <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                      Movies
                  </a></li>
                  <li><a href="/tv">
                    <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                      Tv Shows
                  </a></li>
                  <li><a href="/calendar">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                      Calendar
                  </a></li>
                  <li><a href="/people">
                    <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                      People
                  </a></li>
              </ul>
              <form class="navbar-form navbar-right">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Search</button>
              </form>

          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
    {{{body}}}
  </body>
</html>
