.gameView {
    background-color: #BBDEFB;
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
}

.gameView p {
    font-size: 20px;
}

.gameView td {
    text-align: left;
    width: 144px;
}

.gameView .price {
    font-size: 20px;
}

.game {
    float: left;
    display: inline-block;
}
