<ul ng-repeat="game in games">
	<div class="gameView">
		<p>{{game.gameName}}</p><br>
		<img ng-src='{{game.gameImageUrl}}' width="249" height="310">
		<table>
			<tr ng-repeat="source in game.sources | orderBy:source.price:reverse">
				<td>{{source.sourceName}}</td>
				<td class="price"><a href="{{source.sourceLink}}" target="_blank">{{source.price}}</a></td>
			</tr>
		</table>
	</div>
</ul>
